<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-munch-img.png" class="food-munch-logo" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="dropdown">
            <a class="btn-sm btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Staff Login
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><button class="dropdown-item" type="button" (click)="loginadimn()"><i class="fas fa-users-cog m-2" ></i>Admin</button></li>
              <li><button class="dropdown-item" type="button" ><i class="fas fa-hands-helping m-2"></i>Supervisor</button></li>
              <li><button class="dropdown-item" type="button"(click)="loginchef()" ><i class="fas fa-users m-2"></i> Chef</button></li>
            </ul>
          </div>
          
          

          
        <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-link active" id="navItem1" href="#wcuSection">
                    Why Choose Us?
                    <span class="sr-only">(current)</span>
                </a>
                <a class="nav-link" href="#exploreMenuSection" id="navItem2">Explore Menu</a>
                <a class="nav-link" href="#deliveryPaymentSection" id="navItem3">Delivery & Payment</a>
                <a class="nav-link" href="#followUsSection" id="navItem4">Follow Us</a>
            </div>
        </div> -->
    </div>
</nav>
<div class="banner-section-bg-container d-flex justify-content-center flex-column">
    <div class="text-center">
        <h1 class="banner-heading mb-3">Get Delicious Food Anytime</h1>
        <p class="banner-caption mb-4">Eat Smart & Healthy</p>
        <!-- <button class="btn btn-warning " (click)="addchef()">Regester Now</button><br> -->
        <!-- <button class="btn btn-warning mt-3">Login </button> -->
        <div id="holder">
        <div class="button"(click)="login()">
            <p class="btnText mt-3" >Login</p>
            <div class="btnTwo">
              <p class="btnText2">GO!</p>
            </div>
         </div>
        
        <div class="button">
            <p class="btnText mt-3">Regester</p>
            <div class="btnTwo">
              <p class="btnText2">Now</p>
            </div>
         </div>
        </div>
        
        
        
       
    </div>
</div>
