.food-munch-logo {
    width: 80px;
    height: 70px;
}
a:link{
  text-decoration: none;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

.banner-section-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    color: #d0b200;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;
}
.button {
    background-color:  #ffa31a;
    margin : 20px auto;
    width : 200px;
    height : 50px;
    overflow: hidden;
    text-align : center;
    transition : .2s;
    cursor : pointer;
    border-radius: 3px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  }
  .btnTwo {
    position : relative;
    width : 200px;
    height : 100px;
    margin-top: -100px;
    padding-top: 2px;
    background : #fdfefe;
    left : -250px;
    transition : .3s;
  }
  .btnText {
    color : rgb(250, 250, 248);
    transition : .3s;
    
  }
  .btnText2 {
    margin-top : 63px;
    margin-right : -130px;
    color : rgb(7, 7, 7);
  }
  .button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
    left: -130px;
  }
  .button:hover .btnText{ /*When hovering over .button change .btnText*/
    margin-left : 65px;
  }
  .button:active { /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
  }
  #holder{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    background: transparent;
    padding: 10px;
    width: 250px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-65%);
    box-shadow: 0px 3px 8px rgba(0,0,0,0.25);
    border-radius: 2px;
  }