
<head>
    <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  </head>
  
  <div class="p-4">
    <div class="p-4">
        <div class="d-flex flex-row justify-content-between">
          <h2>Item Table</h2>
          <button class="btn btn-success m-3" (click)="additeam()">Add Item</button>
    </div>
  
    <table>
      <tr>
        <th>Item Id</th>
        <th> Item Description</th>
        <th>Item Cost</th>
        <th>Item count</th>
        <th>Item Status</th>
      </tr>
      <tr *ngFor= "let item of items">
        <td> {{item.iid}} </td>
        <td>{{item.idesc}}</td>
        <td>{{item.iname}}</td>
        <td>{{item.icount}}</td>
        <!-- <td>{{item.status}}</td> -->
       <td> <button class="btn btn-success m-3"></button></td>
      </tr>
    </table>
  </div>
  
  