<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<div class="p-4">
    <h2>Item List</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Cost</th>
            <th>Count</th>
            <th>Status</th>

        </tr>
    </table>
</div>