
   <div class='dashboard'>
    
    <div class="dashboard-nav">
        <header>
            <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>

            <a href="#" class="brand-logo"><i class="fa-solid fa-fork-knife"></i> <span>FOODMUNCH</span></a>
        </header>
        <nav class="dashboard-nav-list">
           
            <p  class="dashboard-nav-item" (click)="listofchef()"><i class="fa-solid fa-user-chef"></i> Chefs </p>
            <p  class="dashboard-nav-item" (click)="listofitems()"><i class="fa-solid fa-plate-utensils"></i> Items </p>
            <p  class="dashboard-nav-item" ><i class="fa-solid fa-user-large"></i> Customer </p>
            
            
          <div class="nav-item-divider"></div>
         <button class="btn btn-outline-light"  (click)="returnhome()"><i class="fas fa-sign-out-alt"></i> Logout </button>
        </nav>
        
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a></header>
        <div class='dashboard-content'>
            <div class='container'>
                <div class='card'>
                    <div class='card-header'>
                        <h1>Welcome to Admin portal</h1>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>
