
   <div class='dashboard'>
    <div class="dashboard-nav">
        <header>
            <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
            <a href="#" class="brand-logo"><i class="fa-solid fa-fork-knife"></i> <span>FOODMUNCH</span></a>
        </header>
        <nav class="dashboard-nav-list">
           
            <a href="#" class="dashboard-nav-item"><i class="fa-solid fa-user-chef"></i> Chefs </a>
            <a href="#" class="dashboard-nav-item"><i class="fa-solid fa-plate-utensils"></i> Items </a>
             <a href="#" class="dashboard-nav-item"><i class="fa-solid fa-user-large"></i> Customer </a>
            
            
          <div class="nav-item-divider"></div>
          <a href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
        </nav>
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a></header>
        <div class='dashboard-content'>
            <div class='container'>
                <div class='card'>
                    <div class='card-header'>
                        <h1>Welcome back Jim</h1>
                    </div>
                    <div class='card-body'>
                        <p>Your account type is: Administrator</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
